

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-container {
    background: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}
.login-container h1 {
    margin-bottom: 20px;
    font-size: 32px;
    text-align: center;
}
.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.login-container button {
    width: 106%;
    padding: 10px;
    background: #ebd515;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
.login-container button:hover {
    background: #7e7737;
}
.extra-links {
    margin-top: 10px;
    text-align: left;
}
.extra-links a {
    display: block;
    margin: 5px 0;
    color: #2e66a1;
    text-decoration: none;
    font-size: 14px;
}
.extra-links a:hover {
    text-decoration: underline;
}
.message {
    margin-right: 10px;
    text-align: center;
    font-size: 14px;
}
