<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.sroup.mapper.LearningRecordMapper">

	<!-- 회고록 등록 -->
	<insert id ="createLearningRecord"
	parameterType="com.smhrd.sroup.model.LearningRecordVO">
	INSERT INTO tb_learning_record (learning_title, learning_content, user_id, study_cd)
	VALUES (#{learning_title}, #{learning_content}, #{user_id}, #{study_cd});
	</insert>

</mapper>