<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.sroup.mapper.StudyMapper">

<!--  추천 스터디
		<select id="getRecommendedStudies"
			resultType="com.smhrd.sroup.model.StudyVO">
			SELECT *
			FROM tb_study
			WHERE study_status = '추천'
			LIMIT 5
		</select>

		인기 스터디
		<select id="getPopularStudies"
			resultType="com.smhrd.sroup.model.StudyVO">
			SELECT *
			FROM tb_study
			ORDER BY view_count DESC
			LIMIT 5
		</select>
 -->		
 <!-- 내가 가입한 스터디 목록 조회 -->
<select id="selectJoinedStudies" parameterType="string" resultType="com.smhrd.sroup.model.StudyVO">
    SELECT 
        s.study_cd AS studyCd,
        s.study_title AS studyTitle,
        s.closed_at AS closedAt,
        s.study_limit AS studyLimit,
        (
            SELECT COUNT(*) 
            FROM tb_study_member sm_count 
            WHERE sm_count.study_cd = s.study_cd 
            AND sm_count.status = 'JOINED'
        ) AS currentMembers
    FROM 
        tb_study_member sm
    INNER JOIN 
        tb_study s ON sm.study_cd = s.study_cd
    WHERE 
        sm.user_id = #{user_id}
        AND sm.status = 'JOINED'
    ORDER BY 
        sm.joined_at DESC;
</select>

	<!-- 인기 스터디 조회 1건 -->
	<select id="getPopularStudyByStudyCd" parameterType="int"
		resultType="com.smhrd.sroup.model.StudyVO">
		SELECT
		study_cd, study_title, study_content, user_id, study_limit,
		closed_at, study_status, created_at
		FROM tb_study where study_cd = #{study_cd};
	</select>
	
</mapper>
