<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.sroup.mapper.UserMapper">
	<!-- 수정된 부분 -->
	<resultMap id="UserResultMap"
		type="com.smhrd.sroup.model.UserVO">
		<id property="user_id" column="user_id" />
		<result property="user_pw" column="user_pw" />
	</resultMap>

	<select id="login" parameterType="com.smhrd.sroup.model.UserVO"
		resultMap="UserResultMap">
		SELECT *
		FROM tb_user
		WHERE user_id = #{user_id} AND user_pw =
		#{user_pw}
	</select>



</mapper>
	