
/* 사이드바 css */
.sidebar {
    width: 190px;
    height: 100%;
    overflow: hidden;
    position: fixed;
    background: #f0e53c;
    transition-duration: 0.5s;
    padding: 15px;
    top : 0px;
    left: -250px;
}

.sidebar ul {
    list-style-type: none; /* 리스트 속성 지정하지 않음 */
    padding: 0px;
}

.sidebar ul li {
    padding: 10%;
    text-align: left;

}

.sidebar ul li a {
    color: black;
    text-decoration: none; /* a 태그 밑줄 지워짐 */
    display: block;
    font-size: 20px;
}

.sidebar ul li a:hover {
    font-weight: bold;
}

.sidebar-btn {
    position: absolute;
}

/* 상단바 (헤더) */
header {
    /* 로그인,그룹생성 배경 목록*/
    display: flex; /* 박스 위치*/
    justify-content: space-between; /* 버튼 위치*/
    align-items: center;
    padding: 20px; /* 높이*/
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 32px;
    font-weight: bold;
}

header button {
    /* 로그인,그룹생성 박스 공간 목록*/
    background-color: #fff;
    border: 1px solid #ccc; /* 박스 배경 색상*/
    padding: 5px 10px; /* 박스 크기 가로x세로*/
    cursor: pointer;
}

.history-table {
    text-align: center;
    margin-left: 15%;
    margin-top: 5%;
    width: 70%;
    border-collapse: collapse;
    border-top: none;
    border-right: none;
    border-left: none;
}
 
.ht-header {
    background-color: white;
}

.ht-header td:hover {
    background-color: #ddd;
    font-weight: bold

}