<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>스터디 플랫폼</title>

    <link rel="stylesheet" href="/css/3.main-in.css">

</head>

<body>
    <header>
        <div class="logo">SROUP</div>
        <div>
            <button onclick="location.href='/groupgenerate'">그룹생성</button>
            <button onclick="location.href='/edit-profile'">마이페이지</button>
            <form action="/logout" method="post" style="display: inline;">
				<button type="submit">로그아웃</button>
			</form>
        </div>
    </header>

    <div class="container">
        <div class="banner">
            광고 스터디 광고 이미지 올리기
        </div>

        <div class="section">
            <div class="section-header">
                <h2>추천 스터디</h2>
                <button onclick="location.href='recommend.html'">더보기</button>
            </div>
            <div class="study-list">
                <div class="study-card" onclick="location.href='5.groupinvolve.html'">
					<h2 th:text ="${session.data0}"></h2>
                    <p class="info">태그: 자바<br>마감일: 2024.12.06<br>스터디 기간: 2024.02.08 ~ 2024.04.10<br>모집 인원: 2 / 6</p>
					
                </div>
                <div class="study-card" onclick="location.href='study2.html';">
					<h2 th:text = "${session.data1}"></h2>
			
					<p class="info">태그: 자바<br>마감일: 2024.12.06<br>스터디 기간: 2024.02.08 ~ 2024.04.10<br>모집 인원: 2 / 6</p>
					</div>
                <div class="study-card" onclick="location.href='study3.html';">
					<h2 th:text = "${session.data2}"></h2>	
					<p class="info">태그: 자바<br>마감일: 2024.12.06<br>스터디 기간: 2024.02.08 ~ 2024.04.10<br>모집 인원: 2 / 6</p>
				</div>
                <div class="study-card" onclick="location.href='study4.html';">
					<h2 th:text = "${session.data3}"></h2>
					<p class="info">태그: 자바<br>마감일: 2024.12.06<br>스터디 기간: 2024.02.08 ~ 2024.04.10<br>모집 인원: 2 / 6</p>
				</div>
                <div class="study-card" onclick="location.href='study5.html';">
					<h2 th:text = "${session.data4}"></h2>
					<p class="info">태그: 자바<br>마감일: 2024.12.06<br>스터디 기간: 2024.02.08 ~ 2024.04.10<br>모집 인원: 2 / 6</p>
				</div>
                
            </div>
        </div>

        <div class="section">
            <div class="section-header">
                <h2>인기 스터디</h2>
                <button onclick="location.href='popularity.html'">더보기</button>
            </div>
            <div class="study-list">
                <div class="study-card" onclick="location.href='5.groupinvolve.html'">
                    <h3>[버터링팀초코]</h3>
                    <p class="info">태그: 자바<br>마감일: 2024.12.06<br>스터디 기간: 2024.02.08 ~ 2024.04.10<br>모집 인원: 2 / 6</p>
                </div>
                <div class="study-card" onclick="location.href='study11.html';"></div>
                <div class="study-card" onclick="location.href='study12.html';"></div>
                <div class="study-card" onclick="location.href='study13.html';"></div>
                <div class="study-card" onclick="location.href='study14.html';"></div>

            </div>
        </div>
        <div class="section">
            <div class="section-header">
                <h2>내가 가입한 스터디</h2>
                <button onclick="location.href='joingroup.html'">더보기</button>
            </div>
            <div class="study-list">
                <div class="study-card" onclick="location.href='5.groupinvolve.html'">
                    <h3>[자바를 잡아라]</h3>
                    <p class="info">태그: 자바<br>마감일: 2024.12.06<br>스터디 기간: 2024.02.08 ~ 2024.04.10<br>모집 인원: 2 / 6</p>
                </div>
                <div class="study-card" onclick="location.href='study2.html';"></div>
                <div class="study-card" onclick="location.href='study3.html';"></div>
                <div class="study-card" onclick="location.href='study4.html';"></div>
                <div class="study-card" onclick="location.href='study5.html';"></div>

            </div>
        </div>
        <div class="section">
            <div class="section-header">
                <h2>프로젝트 관련</h2>
                <button onclick="location.href='projectgroup.html'">더보기</button>
            </div>
            <div class="study-list">
                <div class="study-card" onclick="location.href='5.groupinvolve.html'">
                    <h3>[자바를 잡아라]</h3>
                    <p class="info">태그: 자바<br>마감일: 2024.12.06<br>스터디 기간: 2024.02.08 ~ 2024.04.10<br>모집 인원: 2 / 6</p>
                </div>
                <div class="study-card" onclick="location.href='study2.html';"></div>
                <div class="study-card" onclick="location.href='study3.html';"></div>
                <div class="study-card" onclick="location.href='study4.html';"></div>
                <div class="study-card" onclick="location.href='study5.html';"></div>
            </div>
        </div>
    </div>
</body>
<script>
	function displayCards(recommends) {
	    const recommendsContainer = document.getElementById('recommends');
	    recommendsContainer.innerHTML = ''; // 기존 내용 초기화

	   	 recommends.forEach(recommend => {
	        // 카드 정보를 HTML로 생성
	        const recommendElement = document.createElement('tr');
	        recommendElement.classList.add('recommend');
	        recommendElement.innerHTML = `
	        	<td>${recommend.user_id}</td>
	            <td>${recommend.recommend}</td>
	            <td>
	            <ul>
	                ${JSON.parse(recommend.recommend_desc).map(desc => `<li>${desc.type}: ${desc.dis}%</li>`).join('')}
	            </ul>
	        `;
	        recommendsContainer.appendChild(recommendElement);
	    });
	}
</script>
</html>


