<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AJAX with Flask</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<form id = "form">
id : <input type = "text" name = "input_id" id = "id"> <br>
name : <input type = "text" name ="input_name" id = "name"> <br>

<button type = "button" onclick="serverFlask()">Send to Form Flask</button>
</form>



    <button id="send">Send to Flask</button>
    <p id="response"></p>

    <script>
    function serverFlask(){
   
    	var data = {
                input_id: $('#id').val(),
                input_name: $('#name').val()
            };
    	
    	 $.ajax({
            url: 'http://127.0.0.1:8083/process-form',
            dataType: 'json',
            data: JSON.stringify(data),
            type: 'POST',
            contentType: 'application/json',
           
            success: function (response) {
                $('#response').text(response.message);  // Flask 응답 표시
            },
            error: function (xhr, status, error) {
                $('#response').text('Error: ' + error);
            }
        }); 
    }
    
    
        $('#send').click(function () {
            $.ajax({
                url: 'http://127.0.0.1:8083/process',  // Flask 서버의 URL
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ key: 'Hello from client' }),
                success: function (response) {
                    $('#response').text(response.message);  // Flask 응답 표시
                },
                error: function (xhr, status, error) {
                    $('#response').text('Error: ' + error);
                }
            });
        });
    </script>
</body>
</html>-->
