<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>스터디 플랫폼</title>

    <link rel="stylesheet" href="/css/joingroup.css">

</head>
<body>
    <header>
        <div class="logo">SROUP</div>
        <div>
            <button onclick="location.href='4.groupgenerate.html'">그룹생성</button>
            <button onclick="location.href='edit-profile.html'">마이페이지</button>
            <form action="/logout" method="post" style="display: inline;">
				<button type="submit">로그아웃</button>
			</form>
        </div>
    </header>

    <div class="container">

        <div class="section">
    <div class="section-header">
        <h1>내가 가입한 스터디</h1>
    </div>
    <div class="study-list">
        <c:forEach var="study" items="${studies}">
            <div class="study-card" onclick="location.href='/study/${study.study_cd}'">
                <h3>${study.study_title}</h3>
                <p class="info">
                    모집 인원: ${study.current_members} / ${study.study_limit}<br>
                    마감일: ${study.closed_at}
                </p>
            </div>
        </c:forEach>
    </div>
</div>
        
    </div>
</body>
</html>


