<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>스터디 플랫폼</title>

    <link rel="stylesheet" href="/css/joingroup.css">

</head>
<body>
    <header>
        <div class="logo">SROUP</div>
        <div>
            <button onclick="location.href='/4.groupgenerate'">그룹생성</button>
            <button onclick="location.href='/edit-profile'">마이페이지</button>
            <button onclick="location.href='/3-1.main-out'">로그아웃</button>
        </div>
    </header>

    <div class="container">

        <div class="section">
            <div class="section-header">
                <h1>내가 가입한 스터디</h1>
            </div>
            <div class="study-list">
                <div class="study-card" onclick="location.href='/5.groupinvolve'">
                    <h3>[자바를 잡아라]</h3>
                    <p class="info">태그: 자바<br>마감일: 2024.12.06<br>스터디 기간: 2024.02.08 ~ 2024.04.10<br>모집 인원: 2 / 6</p>
                </div>
                <div class="study-card" onclick="location.href='study2.html';"></div>
                <div class="study-card" onclick="location.href='study3.html';"></div>
                <div class="study-card" onclick="location.href='study4.html';"></div>
                <div class="study-card" onclick="location.href='study5.html';"></div>
                
            </div>
        </div>

        <div class="section">
            <div class="study-list">
                <div class="study-card" onclick="location.href='/5.groupinvolve'">
                    <h3>[버터링팀초코]</h3>
                    <p class="info">태그: 자바<br>마감일: 2024.12.06<br>스터디 기간: 2024.02.08 ~ 2024.04.10<br>모집 인원: 2 / 6</p>
                </div>
                <div class="study-card" onclick="location.href='study11.html';"></div>
                <div class="study-card" onclick="location.href='study12.html';"></div>
                <div class="study-card" onclick="location.href='study13.html';"></div>
                <div class="study-card" onclick="location.href='study14.html';"></div>
            </div>
        </div>
        <div class="section">
            <div class="study-list">
                <div class="study-card" onclick="location.href='/5.groupinvolve'">
                    <h3>[자바를 잡아라]</h3>
                    <p class="info">태그: 자바<br>마감일: 2024.12.06<br>스터디 기간: 2024.02.08 ~ 2024.04.10<br>모집 인원: 2 / 6</p>
                </div>
                <div class="study-card" onclick="location.href='study2.html';"></div>
                <div class="study-card" onclick="location.href='study3.html';"></div>
                <div class="study-card" onclick="location.href='study4.html';"></div>
                <div class="study-card" onclick="location.href='study5.html';"></div>
            </div>
        </div>
        <div class="section">
            <div class="study-list">
                <div class="study-card" onclick="location.href='/5.groupinvolve'">
                    <h3>[자바를 잡아라]</h3>
                    <p class="info">태그: 자바<br>마감일: 2024.12.06<br>스터디 기간: 2024.02.08 ~ 2024.04.10<br>모집 인원: 2 / 6</p>
                </div>
                <div class="study-card" onclick="location.href='study2.html';"></div>
                <div class="study-card" onclick="location.href='study3.html';"></div>
                <div class="study-card" onclick="location.href='study4.html';"></div>
                <div class="study-card" onclick="location.href='study5.html';"></div>
            </div>
        </div>
        <div class="section">
            <div class="study-list">
                <div class="study-card" onclick="location.href='/5.groupinvolve'">
                    <h3>[자바를 잡아라]</h3>
                    <p class="info">태그: 자바<br>마감일: 2024.12.06<br>스터디 기간: 2024.02.08 ~ 2024.04.10<br>모집 인원: 2 / 6</p>
                </div>
                <div class="study-card" onclick="location.href='study2.html';"></div>
                <div class="study-card" onclick="location.href='study3.html';"></div>
                <div class="study-card" onclick="location.href='study4.html';"></div>
                <div class="study-card" onclick="location.href='study5.html';"></div>
            </div>
        </div>
    </div>
</body>
</html>



