<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>스터디 플랫폼</title>

    <link rel="stylesheet" href="/css/popularity.css">

</head>
<body>
    <header>
        <div class="logo" onclick="location.href='/'">SROUP</div>
        <div>
            <button onclick="location.href='/groupgenerate'">그룹생성</button>
            <button onclick="location.href='/edit-profile'">마이페이지</button>
            <form action="/logout" method="post" style="display: inline;">
				<button type="submit">로그아웃</button>
			</form>
        </div>
    </header>

    <div class="container">

        <div class="section">
            <div class="section-header">
                <h1>인기 스터디</h1>
            </div>
			<div class="study-list">
			    <div class="study-card"
			         th:each="study, stat : ${studies}"
			         th:if="${stat.index >= 0 and stat.index < 5}"
			         th:onclick="'location.href=\'/study/' + ${study.studyCd} + '\''">
			        <!-- 제목 -->
			        <h2 th:text="${study.studyTitle}"></h2>
			        <!-- 스터디 설명 -->
			        <p class="info" th:text="${study.studyContent}">스터디 상세 설명</p>
			        <!-- 시작일 -->
			        <p class="info">시작일: <span th:text="${#dates.format(study.createdAt, 'yyyy-MM-dd')}">2025-12-31</span></p>
			        <!-- 종료일 -->
			        <p class="info">종료일: <span th:text="${#dates.format(study.closedAt, 'yyyy-MM-dd')}">2025-12-31</span></p>
			    </div>
			</div>
        </div>

        <div class="section">
			<div class="study-list">
			    <div class="study-card"
			         th:each="study, stat : ${studies}"
			         th:if="${stat.index >= 5 and stat.index < 10}"
			         th:onclick="'location.href=\'/study/' + ${study.studyCd} + '\''">
			        <!-- 제목 -->
			        <h2 th:text="${study.studyTitle}"></h2>
			        <!-- 스터디 설명 -->
			        <p class="info" th:text="${study.studyContent}">스터디 상세 설명</p>
			        <!-- 시작일 -->
			        <p class="info">시작일: <span th:text="${#dates.format(study.createdAt, 'yyyy-MM-dd')}">2025-12-31</span></p>
			        <!-- 종료일 -->
			        <p class="info">종료일: <span th:text="${#dates.format(study.closedAt, 'yyyy-MM-dd')}">2025-12-31</span></p>
			    </div>
			</div>
        </div>
        <div class="section">
			<div class="study-list">
			    <div class="study-card"
			         th:each="study, stat : ${studies}"
			         th:if="${stat.index >= 10 and stat.index < 15}"
			         th:onclick="'location.href=\'/study/' + ${study.studyCd} + '\''">
			        <!-- 제목 -->
			        <h2 th:text="${study.studyTitle}"></h2>
			        <!-- 스터디 설명 -->
			        <p class="info" th:text="${study.studyContent}">스터디 상세 설명</p>
			        <!-- 시작일 -->
			        <p class="info">시작일: <span th:text="${#dates.format(study.createdAt, 'yyyy-MM-dd')}">2025-12-31</span></p>
			        <!-- 종료일 -->
			        <p class="info">종료일: <span th:text="${#dates.format(study.closedAt, 'yyyy-MM-dd')}">2025-12-31</span></p>
			    </div>
			</div>
        </div>
        <div class="section">
			<div class="study-list">
			    <div class="study-card"
			         th:each="study, stat : ${studies}"
			         th:if="${stat.index >= 15 and stat.index < 20}"
			         th:onclick="'location.href=\'/study/' + ${study.studyCd} + '\''">
			        <!-- 제목 -->
			        <h2 th:text="${study.studyTitle}"></h2>
			        <!-- 스터디 설명 -->
			        <p class="info" th:text="${study.studyContent}">스터디 상세 설명</p>
			        <!-- 시작일 -->
			        <p class="info">시작일: <span th:text="${#dates.format(study.createdAt, 'yyyy-MM-dd')}">2025-12-31</span></p>
			        <!-- 종료일 -->
			        <p class="info">종료일: <span th:text="${#dates.format(study.closedAt, 'yyyy-MM-dd')}">2025-12-31</span></p>
			    </div>
			</div>
        </div>
        <div class="section">
			<div class="study-list">
			    <div class="study-card"
			         th:each="study, stat : ${studies}"
			         th:if="${stat.index >= 20 and stat.index < 25}"
			         th:onclick="'location.href=\'/study/' + ${study.studyCd} + '\''">
			        <!-- 제목 -->
			        <h2 th:text="${study.studyTitle}"></h2>
			        <!-- 스터디 설명 -->
			        <p class="info" th:text="${study.studyContent}">스터디 상세 설명</p>
			        <!-- 시작일 -->
			        <p class="info">시작일: <span th:text="${#dates.format(study.createdAt, 'yyyy-MM-dd')}">2025-12-31</span></p>
			        <!-- 종료일 -->
			        <p class="info">종료일: <span th:text="${#dates.format(study.closedAt, 'yyyy-MM-dd')}">2025-12-31</span></p>
			    </div>
			</div>
        </div>
    </div>
</body>
</html>


