<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>스터디 플랫폼</title>

    <link rel="stylesheet" href="/css/recommend.css">

</head>
<body>
    <header>
        <div class="logo" onclick="location.href='/3.main-in'">SROUP</div>
        <div>
            <button onclick="location.href='/groupgenerate'">그룹생성</button>
            <button onclick="location.href='/edit-profile'">마이페이지</button>
            <form action="/logout" method="post" style="display: inline;">
				<button type="submit">로그아웃</button>
			</form>
        </div>
    </header>

    <div class="container">

        <div class="section">
            <div class="section-header">
                <h1>추천 스터디</h1>
            </div>
            <div class="study-list">
				<div class="study-card" onclick="location.href='study1.html'">
					<h2 th:text ="${session.data0}"></h2>
                </div>
                <div class="study-card" onclick="location.href='study2.html';">
					<h2 th:text ="${session.data1}"></h2>
				</div>
                <div class="study-card" onclick="location.href='study3.html';">
					<h2 th:text ="${session.data2}"></h2>
				</div>
                <div class="study-card" onclick="location.href='study4.html';">
					<h2 th:text ="${session.data3}"></h2>
				</div>
                <div class="study-card" onclick="location.href='study5.html';">
					<h2 th:text ="${session.data4}"></h2>
				</div>
                
            </div>
        </div>

        <div class="section">
            <div class="study-list">
                <div class="study-card" onclick="location.href='study6.html'">
					<h2 th:text ="${session.data5}"></h2>
                </div>
                <div class="study-card" onclick="location.href='study7.html';">
					<h2 th:text ="${session.data6}"></h2>
				</div>
                <div class="study-card" onclick="location.href='study8.html';">
					<h2 th:text ="${session.data7}"></h2>
				</div>
                <div class="study-card" onclick="location.href='study9.html';">
					<h2 th:text ="${session.data8}"></h2>
				</div>
                <div class="study-card" onclick="location.href='study10.html';">
					<h2 th:text ="${session.data9}"></h2>
				</div>
            </div>
        </div>
        <div class="section">
            <div class="study-list">
                <div class="study-card" onclick="location.href='study11.html'">
                   <h2 th:text ="${session.data10}"></h2>
                </div>
                <div class="study-card" onclick="location.href='study12.html';">
					<h2 th:text ="${session.data11}"></h2>
				</div>
                <div class="study-card" onclick="location.href='study13.html';">
					<h2 th:text ="${session.data12}"></h2>
				</div>
                <div class="study-card" onclick="location.href='study14.html';">
					<h2 th:text ="${session.data13}"></h2>
				</div>
                <div class="study-card" onclick="location.href='study15.html';">
					<h2 th:text ="${session.data14}"></h2>
				</div>
            </div>
        </div>
        <div class="section">
            <div class="study-list">
                <div class="study-card" onclick="location.href='study16.html';">
					<h2 th:text ="${session.data15}"></h2>
                </div>
                <div class="study-card" onclick="location.href='study17.html';">
					<h2 th:text ="${session.data16}"></h2>
				</div>
				
                <div class="study-card" onclick="location.href='study18.html';">
					<h2 th:text ="${session.data17}"></h2>
				</div>
                <div class="study-card" onclick="location.href='study19.html';">
					<h2 th:text ="${session.data18}"></h2>
				</div>
                <div class="study-card" onclick="location.href='study20.html';">
					<h2 th:text ="${session.data19}"></h2>
				</div>
            </div>
        </div>
        
    </div>
</body>
<script>
	function displayCards(recommends) {
	    const recommendsContainer = document.getElementById('recommends');
	    recommendsContainer.innerHTML = ''; // 기존 내용 초기화

	   	 recommends.forEach(recommend => {
	        // 카드 정보를 HTML로 생성
	        const recommendElement = document.createElement('tr');
	        recommendElement.classList.add('recommend');
	        recommendElement.innerHTML = `
	        	<td>${recommend.user_id}</td>
	            <td>${recommend.recommend}</td>
	            <td>
	            <ul>
	                ${JSON.parse(recommend.recommend_desc).map(desc => `<li>${desc.type}: ${desc.dis}%</li>`).join('')}
	            </ul>
	        `;
	        recommendsContainer.appendChild(recommendElement);
	    });
	}
</script>
</html>